<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vehicle_Reservation_System_1.3</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500error.jsp</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.vrs.controller.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/uAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAction</display-name>
    <servlet-name>CustomerAction</servlet-name>
    <servlet-class>com.vrs.controller.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAction</servlet-name>
    <url-pattern>/cAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchAdminAction</display-name>
    <servlet-name>BranchAdminAction</servlet-name>
    <servlet-class>com.vrs.controller.BranchAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchAdminAction</servlet-name>
    <url-pattern>/baAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAction</display-name>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>com.vrs.controller.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/aAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.vrs.controller.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>

</web-app>